/* ==========================================================================
   Helper mixins and placeholders
   ========================================================================== */

/**
 *   Clearfix
 *   For clearing floats like a boss h5bp.com/q
 */
%clearfix {
    *zoom: 1;
    overflow: hidden;
    &:before,
    &:after {
        display: table;
        content: " ";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

/* Legacy support for inline-block in IE7 (maybe IE6)   */
@mixin inline-block {
    display: inline-block;
    vertical-align: top;
/* IE hacks */
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
}

/**
 * Mixin handling breakpoints for media queries
 * Source: http://css-tricks.com/media-queries-sass-3-2-and-codekit/

 * Modifying idea of "Progressive enhancement" or "mobile firs" I create all stiles for "medium screens" and
 * then adapt them for small and big screens
 */
@mixin breakpoint($point) {
    @if $point == big {
        @media only screen and (min-width: $screen-big) {
            @content;
        }
    }

    @if $point == small {
        @media only screen and (max-width: $screen-small) {
            @content;
        }
    }
}

/* --------------------------    Mixins providing a PX fallback for REM--------------------------------

// Source: http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/


/* general - margin, padding... */

/*
p {
   @include rem-fallback(margin, 10, 20, 30, 40);
}

gives:

p {
  margin: 160px 320px 480px 640px;
  margin: 10rem 20rem 30rem 40rem;
}
*/

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value*16}px;

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value}rem;

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}

/* Mixins to set sizes in rem */
@mixin max-width-rem($val) {
    max-width: $val*16 * 1px;
    max-width: $val * 1rem;
}

/* Mixins to set paddings in rem */
@mixin padding-horizontal-rem($val) {
    padding-right: $val*16 * 1px;
    padding-right: $val * 1rem;

    padding-left: $val*16 * 1px;
    padding-left: $val * 1rem;
}

/* Mixins to set paddings in rem */
@mixin margin-horizontal-rem($val) {
    margin-right: $val*16 * 1px;
    margin-right: $val * 1rem;

    margin-left: $val*16 * 1px;
    margin-left: $val * 1rem;
}

/* all text elements are centered and limited to the line-wide comfortable for reading  */
%text-normalize {
    text-align: left;
    p, .p,
    h1, h2, h3, h4, h5, h6,
    cite,
    blockquote,
    ul,
    ol {
        @extend %pull-center;
        @include rem-fallback(max-width, $width-text);
        @include rem-fallback(padding-right, $gap-base-rem);
        @include rem-fallback(padding-left, $gap-base-rem);
    }

    ul,
    ol {
        margin-top: $gap-base;
        margin-bottom: $gap-large;
        text-align: left;

        li {
            margin-top: $gap-base;
            margin-left: $gap-huge;
            /**
             * Remove vertical spacing from nested lists.
             */
            > ul,
            > ol {
                margin: 0;
            }

            @include breakpoint(small) {
                margin-left: $gap-base;
            }
        }
    }

    .list-compact {
        li {
            margin-top: 0;

            @include breakpoint(small) {
                margin-left: $gap-mini;
            }
        }
    }

    .blocktext,
    ul li,
    ol li {
        p,
        h1, h2, h3, h4, h5, h6 {
            padding-left: 0;
            padding-right: 0;
        }
    }

}

/** Box Sizing model  **/
%box-sizing {
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */

}

%box-shadow {
    -webkit-box-shadow: 2px 4px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 4px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 4px 8px rgba(50, 50, 50, 0.75);
}

// from http://thesassway.com/intermediate/mixins-for-semi-transparent-colors
// Example:

//  .button {
//      background: rgba(black, 0.5);
//  }

//  .button {
//      @include alpha-color('background-color', rgba(black, 0.5), white);
//  }

@mixin alpha-color($attribute, $color, $background: $base-bg) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
}

/**
 *   Blocks Align
 */
%pull-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin pull-left($margin: $gap-small) {
    float: left;
    margin-left: 0;
    margin-right: $margin;
    margin-bottom: $gap-small;
}

@mixin pull-right($margin: $gap-small) {
    float: right;
    margin-right: 0;
    margin-left: $margin;
    margin-bottom: $gap-small;;
}

// Font sizes in rem
// -------------------------
@mixin font-size($val) {
    @include rem-fallback(font-size, $val);
}

/**
 * Mixins to set elements sizes. At the moment in em. By itself they have not much sense but they will be useful if in the future
  * I wish to set sizes in "rem". See  max-width-rem and so on below
 */

@mixin height($val) {
    height: $val * 1em;
}

@mixin width($val) {
    width: $val * 1em;
}

@mixin max-width($val) {
    max-width: $val * 1em;
}

@mixin min-height($val) {
    min-height: $val * 1em;
}

/**
 *   Background Img
 */
%image-bg {
    background-color: $cover-bg;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   // @include min-height($img-min-height);

    background-image: url(../img/cover/default.jpg);
}

@mixin border-top-radius($radius: $border-radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-radius($radius: $border-radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-decoration($shadow-color: #b4afa7) {
    border-top: 1px solid white;
    border-left: 1px solid white;
    -webkit-box-shadow: 1px 1px 0 $shadow-color;
    -moz-box-shadow: 1px 1px 0 $shadow-color;
    box-shadow: 1px 1px 0 $shadow-color;

/*
 -moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
 -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
 box-shadow:0 0 4px rgba(0,0,0,0.4);
*/
}

/*   linear gradient from top to bottom    */
@mixin gradient-vertical($from, $to) {
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
// Safari 4+, Chrome 2+
    background: -webkit-linear-gradient(top, $from, $to);
// Safari 5.1+, Chrome 10+
    background: -moz-linear-gradient(top, $from, $to);
// FF 3.6+
    background: -ms-linear-gradient(top, $from, $to);
    background: -o-linear-gradient(top, $from, $to);
// Opera 11.10
    background: linear-gradient(to bottom, $from, $to);
// Standard, IE10
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}', GradientType=0);
// IE9 and down

}


