<!DOCTYPE html>

{% include setup %}

<html>
<head>
    <title>{{ TITLE }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="author" content="{{ site.author.name }}">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.css }}/style.css">
    <!-- FancyBox..... -->
     <link rel="stylesheet" type="text/css" href="{{ site.fancybox }}/source/jquery.fancybox.css?v=2.1.5" media="screen"/>
</head>
<body>




