<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


<div class="central-page">
    <div class="page-content">
        <div class="cover">
            {% if page.title %}
            <div class="central-text">
                <h1 class="title">{{ page.title }}</h1>
            </div>
            {% endif %}
            {% if page.cover-text %}
            <div class="blocktext">
                {% if page.cover-image %}
                <p><img src="{{ site.img }}/{{ page.cover-image }}" alt=""></p>
                {% endif %}
                {{ page.cover-text }}
            </div>
        </div>
        <div class="post ">
            {% else %}
        </div>
        <div class="post cover">
            {% endif %}

            {{ content }}
            {% for img in page.images %}
            <img src="{{ site.img }}/{{ img }}" alt="">
            {% endfor %}
        </div>
        <!-- End Page-content -->
    </div>
</div>

</body>
</html>