/************************************************************************************
 GENERAL STYLING. Standard Html tags
*************************************************************************************/

/** apply  Box Sizing model to all elements **/
*, *:before, *:after {
    @extend %box-sizing;

}


html {
    overflow-y: scroll;
    /* Stops Mobile Safari from auto-adjusting font-sizes */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* improves the text rendering in more recent browsers */
    text-rendering: optimizeLegibility;

    font-size: $base-font-size*1em;
    background: $base-bg;

    @include breakpoint(big) {
        font-size: $base-font-size-screen-big*1em;
    }

    @include breakpoint(small) {
        font-size: $base-font-size-screen-small*1em;
    }
}

body {

    font-style: normal;
    font-variant: normal;
    line-height: $base-line-height;
    background: $base-bg;
    color: $base-text;
    text-shadow: 0 1px 1px rgba(white, 0.4);
}

/**
*  Give Clickable Elements a Pointer Cursor
*  Source: http://css-tricks.com/snippets/css/give-clickable-elements-a-pointer-cursor/
**/

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

a {
     color: $link-color;
     text-decoration: none;

     &:hover, &:focus, &:active {
         color: $link-hover-color;
         text-decoration: underline;
     }
 }

::-moz-selection, ::selection {
    background: $link-color;
    color: white;
}

/**
 *  wherever possible is applied the principle of "Single-direction margin declarations"
 *  Source: http://csswizardry.com/2012/06/single-direction-margin-declarations/
 *  But instead of using margin-bottom I use margin-top.
 *  It is more logical that the position of the object depends upon it´s own properties(margin-top)
 *  and not upon the properties (margin-bottom) of the previous object
 */

p {
    margin-top: $gap-base;
    margin-bottom: $gap-large;
}

i, em,  q {
    font-style: italic;
}


hr {
     width: 5em;
     text-align:center;
     margin: $gap-huge  auto;
     border: none;
     height: $pullquote-border-width;
     background-color: $link-color;
     color: $link-color;

     &:before {
         //content: "\2a\2a\2a\2a\2a\2a\2a\2a\2a";

     }
 }


cite {
    @include font-size($cite-font-size);
    display: block;
    margin-top: $gap-small;
    text-align: center;
    font-style: italic;
  //  @extend %caption-color;

    &:before {
         content: "\2014 \2009";
     }
}

.cite--big {
      @include font-size($cite-big-font-size);
  }