/************************************************************************************
 BUTTONS
*************************************************************************************/

/**
 * helper mixin to set Buttons colors
 */
@mixin button-shadow($color: white, $alfa: 0.5) {
    -webkit-box-shadow: 0 1px 0 rgba($color, $alfa) inset;
    -moz-box-shadow: 0 1px 0 rgba($color, $alfa) inset;
    box-shadow: 0 1px 0 rgba($color, $alfa) inset;
}

@mixin button-color($button-color) {
    color: $button-color;
    border: 2px solid $button-color;

    &:hover, &:focus, &:active {
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(white, 0.4);
        color: white;
        background: $button-color;
       // border-color: $brand-color;
    }
}

@mixin button-filled-color($button-color) {
    background: $button-color;
    color: white;
    text-shadow: 0 1px 1px rgba(white, 0.4);
    border: 2px solid $button-color;
  //  @include button-shadow();
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $button-color;
        background: none;
        text-shadow: none;
    }
}


%button-base {
    @include inline-block;
    cursor: pointer;
    text-align: center;
    line-height: $line-height-small;
    text-decoration: none;
}

// Base Button style
// --------------------------------------------------

.button {
    @extend  %button-base;
    margin: $gap-base $gap-small;
    padding: $gap-small $gap-large;
    @include button-color($link-color);
    @include border-radius($border-radius-large);
}



// painted, filled with the color buttons
.button--filled {
    @include button-filled-color($link-color);

}


// Buttons disabled
// --------------------------------------------------

.button--disabled {
    @include alpha-color(border-color, $button-disabled-bg);
    @include alpha-color(background, $button-disabled-bg);
    @include alpha-color(color, $button-disabled-text);
    //text-shadow: 0 1px 1px rgba(white, 0.5);
    text-shadow: 0px 1px 0px rgba(white,0.5);

    &:hover, &:focus, &:active {
        @include alpha-color(background, $button-disabled-bg);
        @include alpha-color(color, $button-disabled-text);
    }
}




/************************************************************************************
ToTop Button
*************************************************************************************/

#toTop {
    @extend .button;
    margin: 0;
    padding: 0.7*$gap-base 1.2*$gap-base;
    @include border-radius($border-radius);
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 20;

    display: none;

    &:after {
        font-weight: bold;
        content: "\5E";

    }
}

/************************************************************************************
Menu Button
*************************************************************************************/
/*
#menu {
    @extend .button;
    @extend .button--filled;
    float: right;
    margin: $gap-base $gap-small;
    margin-bottom: 0;
    padding: $gap-small $gap-large;
    @include border-radius($border-radius);

    display: none;

    &:after {
        content: "\2630";

    }

    @include breakpoint(small) {
         display: block;
    }
}
*/

