/************************************************************************************
COLORS
*************************************************************************************/



.highlight {
    background: $base-highlight;
}

.intense {
    background: $cover-bg;
    color: $cover-text;
}































