/************************************************************************************
    HEADINGS
*************************************************************************************/

/**
 *  wherever possible is applied the principle of "Single-direction margin declarations"
 *  Source: http://csswizardry.com/2012/06/single-direction-margin-declarations/
 *  But instead of using margin-bottom I use margin-top.
 *  It is more logical that the position of the object depends upon it´s own properties(margin-top)
 *  and not upon the properties (margin-bottom) of the previous object
 */

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
    //font-weight: bold;
    line-height: $headings-line-height;
    margin-top: $gap-large;
    text-align: left;
}

h1 {
    font-weight: normal;
    margin-top: $gap-large;
    @include font-size($font-size-h1 * 0.85);

    @include breakpoint(big) {
        @include font-size($font-size-h1);
     }
}

h2 {
    font-family: $font-family-arial;
    font-weight: normal;
    @include font-size($font-size-h2);
}

h3 {
    @include font-size($font-size-h3);
    text-align: left;
}

h4 {
    @include font-size($font-size-h4);
    text-align: left;
}

h5 {
    @include font-size($font-size-h5);
    text-align: left;
}

h6 {
    @include font-size($font-size-h6);
}


h3, h4, h5 {
    color: $link-color;
    font-weight: normal;
}

.title {
    text-align: left;
    font-weight: bold;
    margin-top: $gap-large;
    //margin-bottom: $gap-small;
    padding-left: $gap-mini;
    border-left: 5px solid $link-color;
    @include rem-fallback(max-width, $width-text);
    @include rem-fallback(margin-right, $gap-base-rem);
    @include rem-fallback(margin-left, $gap-base-rem);
}

/**
  * This class is used to make the introductory text (usually a paragraph)
  * of a document larger.
  */

.lead {
    @include font-size($lead-font-size);
    text-align: center;
    margin-top: $gap-huge;
    @include rem-fallback(margin-right, $gap-base-rem);
    @include rem-fallback(margin-left, $gap-base-rem);
    @include rem-fallback(max-width, $width-text*1.2);

    .button {
        @include font-size(1);
    }
}














