/************************************************************************************
ADAPTIVE IFRAME (VIDEO, MAPS...)
*************************************************************************************/


iframe, object, embed {
    max-width: 100%;
}


// container to make iframe responsive for Youtube videos
// padding-botton = (iframe-height/iframe-width)*100%
// --------------------------------------------------------


.iframeContainer {
    position: relative;
    //padding-bottom: 56.25%;
    padding-bottom: 62%;
    height: 0;
    overflow: hidden;

    margin-top: $gap-base;
}

.iframeContainer iframe,
.iframeContainer object,
.iframeContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



// for google maps
// ------------------

.iframeContainer--gmap {
    padding-bottom: 100%;
}

.iframeWrapper {
    @extend %pull-center;
    @include rem-fallback(max-width, 0.7*$width-text);
}




