/* ==========================================================================
   IMAGES
   ========================================================================== */

/**
 * By default all images is placed at the center
 */
img {
    @extend %pull-center;
    margin-top: $gap-large;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/**
 * Basic image modifiers. Extends `img`
 */
.img--rounded {
    @include border-radius($border-radius);
}

.img--circle {
    @include border-radius(50%);
}

.img--lead {
    margin-top: 0;
}


/**
 * Figures
 * <figure class="figure">
 *   <img src="path/to/image.jpg" alt="" />
 *   <figcaption>Optional figcaption</figcaption>
 * </figure>
 */

figcaption, .figcaption {
    @extend %pull-center;
    clear: both;
    //font-style: italic;
    line-height: $line-height-small;
    text-align: center;
    max-width: 90%;
    margin-top: 0.75 * $gap-base;
    margin-bottom: 0;
}


.figure {
    margin-top: $gap-large*2;
    margin-bottom: $gap-huge;
    img {
        margin-top: 0;
        margin-bottom: 0;
    }

    p {
        @extend .figcaption;
    }
}










