/************************************************************************************
   LISTS
*************************************************************************************/


.list-dashed {
    list-style: none;
    li:before {
        content: "\2014 ";
    }
}

.list-unstyled {
    list-style: none;
}

.list-compact {
    li {
        margin-top: 0;
    }
}

// Easily usable on <ul>, <ol>, or <div>.

.blocklist {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 0;
        padding: $gap-small 0;

        border-bottom: 1px solid;
        text-align: center;
        //background: $beige;
    }

    li:last-child {
        border-bottom: none;
    }
}

