/************************************************************************************
 LOGO, BRAND
*************************************************************************************/

.logo {
    @include inline-block;
    vertical-align: baseline;
    padding-top: $gap-base;
    @include rem-fallback(margin-right, $gap-base-rem);
    @include rem-fallback(margin-left, $gap-base-rem);
    color: $base-strong;

    &:first-letter {
        color: $link-color;
    }

    &:hover, &:focus, &:active {
        color: $link-color;
        text-decoration: none;
    }

    strong {
        @include font-size($brand-font-size);
    }
}



