/************************************************************************************
MEDIA
*************************************************************************************/

/**
* Place an media__object (img, video, audio) and corresponding textual content - media__body (.blocktext) side-by-side.
* Used for thumbnails, blog comments, Tweets and any page blocks with img and corresponding text
**/

/**
* Original non-responsive version like in Bootstrap
* Source: http://stubbornella.org/content/?p=497
**/

.media {
    @extend %clearfix;
    text-align: right;
    > .media__object {
        @include inline-block;
        width: 35%;
        vertical-align: bottom;

        > img {
            margin: 0;
            margin-left: auto;
        }
    }

    > .media__body {
        @include inline-block;
        width: 65%;
        padding-top: $gap-base;
        vertical-align: bottom;
    }

    // Change left-right-aligned to top-bottom-aligned on small screens
    // -------------------------------
    @include breakpoint(small) {
        > .media__object {
            width: 100%;
            max-width: 100%;
            > img {
                width: 50%;
            }
        }

        > .media__body {
            width: 100%;
            max-width: 100%;
        }
    }
}






