/************************************************************************************
    Page footer
*************************************************************************************/

.page-footer {
    background-color: $cover-bg;
    color: $cover-text;
    @extend .paddings;
    padding-bottom: $gap-large;
}



