/************************************************************************************
    Page footer
*************************************************************************************/

.page-footer {
    background-color: $cover-bg;
    color: $cover-text;
    @extend .paddings;
    padding-bottom: $gap-large;

    box-shadow: 0 0 8px rgba($cover-text, 0.6);
    -webkit-box-shadow: 0 0 8px rgba($cover-text, 0.6);
    -moz-box-shadow: 0 0 8px rgba($cover-text, 0.6);
}



