/************************************************************************************
    Page Content
*************************************************************************************/

.page-content {
    @extend .highlight;
    margin-top: $gap-large;

    // Cross-Browser Min Height http://css-tricks.com/snippets/css/cross-browser-min-height
    // Прижатый к низу футер http://verstka.pro/notes/prizhatyy-k-nizu-futer.html
    min-height: 80%;
    height: auto !important;
    height: 80%;
}