/************************************************************************************
    Page Content
*************************************************************************************/

.page-content {
    @extend .highlight;
    margin-top: $gap-large;

    @include breakpoint(big) {
        margin-right: $gap-large;
        margin-left: $gap-large;
    }
}