/************************************************************************************
Section
*************************************************************************************/


.section {
    padding-bottom: 2*$gap-large;
    margin-top: $gap-large;
    box-shadow: 0 0 8px rgba($cover-text, 0.6);
    -webkit-box-shadow: 0 0 8px rgba($cover-text, 0.6);
    -moz-box-shadow: 0 0 8px rgba($cover-text, 0.6);
// Cross-Browser Min Height http://css-tricks.com/snippets/css/cross-browser-min-height
// Прижатый к низу футер http://verstka.pro/notes/prizhatyy-k-nizu-futer.html
    min-height: 90%;
    height:auto !important;
    height: 90%;
}

.section-isle {
    padding-bottom: 2*$gap-large;
    padding-top: 2*$gap-large;
}

//.section > :first-child { margin-top: 0 !important;}
