/************************************************************************************
Section
*************************************************************************************/


.section {
    padding-bottom: 2*$gap-large;
    padding-top: $gap-large;
}

.section-isle {
    padding-bottom: 2*$gap-large;
    padding-top: 2*$gap-large;
}

//.section > :first-child { margin-top: 0 !important;}
